:host {
    width: 100%;
    .layout{
        margin: 0 25% 0 25%;
        
        div {
            margin: 1% 0 1% 0;
        }

        mat-spinner {
            top: 50%;
            left: 43%;
            position: fixed;
        }
    }
}