  mat-card{
    cursor: pointer;
    max-width: 120px;
    height: 180px;
    img {
      height: 120px;
    }
    mat-card-content {
      color: lightgray;
      font-size: 12px;
    }

    .icon {
      position: absolute;
      bottom: 38px;
      left: 8px;
    }
  }