
  mat-card{
    cursor: pointer;
    max-width: 120px;
    height: 145px;

    img {
      height: 120px;
    }

    mat-card-subtitle {
      margin-bottom: 0;
    }
    
    mat-card-content {
      color: lightgray;
      font-size: 12px;
    }

    .icon {
      position: absolute;
      bottom: 5px;
      left: 8px;
    }
  }