:host {
    float: right;
    min-width: 40%;
    
    form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        mat-form-field {
            width: 100%;
        }
        ::ng-deep {

            .mat-form-field-flex {
                background-color: white;
                color: black;
                border-radius: 25px;
    
                .mat-form-field-infix {
                    margin-left: 2.5%;
                }
    
                .mat-form-field-suffix {
                    color: blue;
                }
            }
    
            .mat-form-field-underline {
                display: none;
            }
    
        }
    }
}



